@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;600;900&display=swap");
@import "reset.css";

body {
  font-family: "Noto Serif KR", serif;
}

.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1; /*text의 z-index 보다 낮으면 뒷 배경으로 설정 됩니다.*/
  opacity: 0.5;
  object-fit: cover;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#greeting-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 30px;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

h2 {
  font-size: 100px;
  text-align: center;
  font-weight: 600;
}

li {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#quote {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  text-align: center;
  color: antiquewhite;
  text-shadow: 0 0 3px rgb(255, 255, 255);
  position: fixed;
  bottom: 20px;
  width: 100%;
}

#quote span {
  display: block;
  margin-bottom: 15px;
}

form {
  display: flex;
  justify-content: center;
}

input {
  width: 400px;
  height: 50px;
  background-color: none;
  opacity: 95%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid rgb(36, 36, 36);
  background-color: transparent;
  font-size: 25px;
  padding-left: 100px;
}

input::placeholder {
  color: rgb(24, 24, 24);
}

#weather {
  position: fixed;
  top: 100px;
  left: 50px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 0 3px rgb(136, 136, 136);
}

#weather-title {
  position: fixed;
  top: 50px;
  left: 50px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 0 3px rgb(34, 34, 33);
}
